html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}
/*Top portion*/
.top {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
}
#menu {
  display: none;
}
.container {
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.head {
  position: relative;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  background-color: cadetblue;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  height: 1.5rem;
  padding: 1rem 1rem 1rem 2rem;
}
.logo span,
.nav span {
  color: white;
}
.nav span {
  padding: 1rem 2rem;
}
.slogan h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  background-color: white;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  position: relative;
  left: 2rem;
}
/*Selling Points*/
.selling {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  /*padding: 3rem 0;*/
  /*height: 8rem;*/
  justify-content: space-around;
}
.box.paper img {
  width: 3.5rem;
  height: auto;
}
.box img {
  width: 5rem;
}
.box img {
  width: 5rem;
}
.box {
  /*margin: 3rem 3rem;*/
  height: 8rem;
  width: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.box.paper {
  margin: 3rem 6rem;
}
.box.margin {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-right: 6rem;
  padding: 0;
}
.box p {
  text-align: center;
}
/*.box.margin p {
   padding-bottom: 1rem;
}*/
/*Additional Information*/
.info {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.boxy h2 {
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  color: white;
  background-color: cadetblue;
  width: 10rem;
  margin-bottom: 1rem;
}
.boxy {
  width: 35%;
}
.unique {
  margin-right: 5%;
}
/*Footer*/
.footer {
  display: flex;
  align-items: center;
  background-color: azure;
  max-width: 960px;
  margin: 5rem auto 0 auto;
}
.text {
  display: flex;
  align-items: center;
}
.text img {
  height: 1.5rem;
  margin: 4rem 1rem 4rem 4rem;
}
/*Media Queries*/
@media only screen and (max-width: 1024px) {
  .head {
    position: relative;
    top:0;
    width: 100%;
  }
  .slogan h1 {
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
    margin-top: 5rem;
    margin-right: 4rem;
  }
  .container {
    width: 100%;
  }
  .top {
    height: 22rem;
  }
  .nav span {
    padding: 0.33rem 0.66rem;
  }
}
@media only screen and (max-width: 600px) {
  .top {
    background-position: 20%;
  }
  #menu {
    display: inline-block;
    margin-right: 2rem;
  }
  .nav span {
    display: none;
  }
  .top {
    height: 17rem;
  }
  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slogan h1 {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    margin: 0;
    left: 0;
    right: 0;
  }
 .slogan {
   width: 100%;
   margin: 9rem 0 0 0;
 }
 .selling {
   flex-direction: column;
   align-items: center;
   margin: 3.77rem auto;
 }
 .box img {
   margin-top: 1.54rem;
   padding:
 }
 .box.margin {
   margin: 0;
 }
 .box.paper {
   margin: 0;
 }
 .box p {
   font-size: 0.77rem;
 }
 .info {
   flex-direction: column;
 }
 .boxy {
   width: 100%;
 }
 .unique {
   margin: 0;
 }
 .boxy h2 {
   width: 100%;
   text-align: center;
 }
 .boxy p {
   margin: 1rem 0.25rem 4rem 0.25rem;
   font-size: 0.77rem;
 }
 .text span {
   display: none;
 }
 .text {
  margin: 0 auto;
 }
}
